/*
Theme Name: Woffice Child
Description: Child theme for Woffice
Author: Alkaweb Team
Template: woffice
*/
.landing-page #content-container #content{width:unset;position:unset;}
.landing-page #content-container .intern-padding{padding:0;}
.landing-page #content-container .box{margin:0;}
.category_page #content-container .box{background-color:unset; max-width:unset; width:100%;box-shadow: unset;}
.author_page #content-container .box{background-color:unset; max-width:unset; width:100%;box-shadow: unset;}
/*#content .box{background-color:unset; max-width:unset; width:100%;box-shadow: unset;}*/

.menu-item img._before, .rtl .menu-item img._after{margin:.5em;}
.main-menu li:not(:first-child) > a{padding:10px;}
/*.main-menu li a{padding:15px 10px;}*/
.cn-demo-modal {background-color: #f2f2f2;box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);padding: 24px;width: 75%;position: relative;display: none; border-radius:5px;overflow-y:scroll;border-top:10px solid #82b440;}
.cn_demo-modal-width-50 { width:50% !important; overflow-y:auto; }
.cn_demo-modal-width-85 { width:85% !important; overflow-y:auto; }
.custom_btn{padding:5px 10px;border:none;margin:5px 0;background:#82b440;border-radius:5px;text-transform:uppercase;color:white;font-weight:600;}
.tbl_funnels{width:100%;}
.tbl_funnels td{padding:5px;}
.btn_green{background:#82b440;cursor:pointer;}
.btn_red{background:#FF6347;cursor:pointer;}
.blank_field:focus{border-color:#FF6347 !important;}
.btn_dfy_aff_fun a {color: white !important;font-weight: 600;text-transform: uppercase;font-size: 16px !important;text-decoration:none !important;}
.tbl_funnel_template{width:100%;}
.tbl_funnel_template td{padding:5px;}
/*CUSTOMBOX HIDE POPUPS*/
#activate_dfy_funnel, #edit_funnel_pages{display:none;}
/*CUSTOMBOX HIDE POPUPS*/
/*BEAVER BUILDER*/
div#fl-builder-settings-section-success{display:none;}
/*BEAVER BUILDER*/

.template_sel_parent .count_templates{margin-bottom:30px;}
.fl-builder-settings-fields input[type=date], .fl-builder-settings-fields input[type=email], .fl-builder-settings-fields input[type=file], .fl-builder-settings-fields input[type=number], .fl-builder-settings-fields input[type=password], .fl-builder-settings-fields input[type=search], .fl-builder-settings-fields input[type=tel], .fl-builder-settings-fields input[type=text], .fl-builder-settings-fields input[type=url], .fl-builder-settings-fields select:not(multiple){height:auto !important;}

/*.marketplace_item{width:33.33%;float:left;padding:5px; margin-bottom:10px;} //MASONRY */ 
.author_item{width:31.42%;float:left;margin:9px; margin-bottom:10px; background:#FFF;}
.category_item_inner{min-height: 100px;border-radius: 6px;background:#FFF;}
.marketplace_item_inner{border: 2px solid #476499;min-height: 100px;border-radius: 6px;background:#f1f6fe;}
.funnel_details{display:inline-block;width:100%;padding:10px;}
.marketplace_item_desc{display: inline-block;width: 100%;text-align: center;}


.inner_funds_first{width: 40%;float: left;padding:0 5px;}
.inner_funds_second, .inner_funds_third{width: 30%;float: left;padding:0 5px;}
.funds_inner_part{background-color: #f1f6fe;border: 3px solid #414d6f;border-radius: 5px;min-height: 100px;padding:5px; word-break: break-all;}
.funds_container h1,.funds_container h2, .funds_container h3, .funds_container h4, .funds_container h5, .funds_container h6{color:#414d6f !important;}

div.notice-danger{background: #F003;padding: 10px;margin:10px -20px;transition:1s;}
div.notice-danger .fa{font-size: 20px;color: #F00;margin-right: 10px;}

div.notice-success{background: #0F03;padding: 10px;margin:10px -20px;transition:1s;}
div.notice-success .fa{font-size: 20px;color: #0F0;margin-right: 10px;}

div.notice-info{background: #00F3;padding: 10px;margin:10px -20px;transition:1s;}
div.notice-info .fa{font-size: 20px;color: #00F;margin-right: 10px;}

div.notice-warning{background: #FF03;padding: 10px;margin:10px -20px;transition:1s;}
div.notice-warning .fa{font-size: 20px;color: #FF0;margin-right: 10px;}

div.notice-danger:hover{background: #F004;}
div.notice-success:hover{background: #0F04;}
div.notice-info:hover{background: #00F4;}
div.notice-warning:hover{background: #FF04;}

span.far.fa-star.valueformoney, span.fas.fa-star.valueformoney, span.far.fa-star.welldesigned, span.fas.fa-star.welldesigned, span.far.fa-star.qualityofcontent, span.fas.fa-star.qualityofcontent {
	font-size: 25px;
    color:#FFD72E;
}
.review_error{
    margin: 0;
    font-size: 12px;
    color: #FF0000;
    font-style: italic;
}
.tab_email {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab_email button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 5px !important;
  transition: 0.3s;
  font-size: 0.69rem !important;
  margin: 0 !important;
  border-radius: 0 !important;
  color: black !important;
}

/* Change background color of buttons on hover */
.tab_email button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab_email button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent_email {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.loader{width:10%; height:auto;}
.fund_publish{width:25%;float:left;padding: 0 1px;}
.purchases_activations_funnel{width:25%;float:left;padding: 0 1px;}
.credit_div{width:40%;float:left;}
.funds_btn{width:60%;float:left;text-align:right;}	
.available_withdrawal{width:50%;float:left;}
.how_it_works_btn{width:50%;float:left;text-align:right;}

@media only screen and (min-width: 320px) and (max-width: 479px){
	.loader{width:30% !important;}
	#copyright p span{display:block;}
	.inner_funds_first{width:100% !important; margin:5px 0 !important;}
	.inner_funds_second{width:100% !important; margin:5px 0 !important;}
	.inner_funds_third{width:100% !important; margin:5px 0 !important;}
	.fund_publish{width:50% !important;float:left;padding: 0 1px;}
	.purchases_activations_funnel{width:50% !important; float:left;padding: 0 1px;}
	.credit_div{width:100% !important; float:left;}
	.funds_btn{width:100% !important;float:left;text-align:right;}	
	.available_withdrawal{width:100% !important;float:left;}
	.how_it_works_btn{width:100%;float:left;text-align:right;}
}
@media only screen and (min-width: 480px) and (max-width: 767px){
	.loader{width:30% !important;}
	#copyright p span{display:block;}
	.inner_funds_first{width:100% !important; margin:5px 0 !important;}
	.inner_funds_second{width:100% !important; margin:5px 0 !important;}
	.inner_funds_third{width:100% !important; margin:5px 0 !important;}
	.credit_div{width:100% !important; float:left;}
	.funds_btn{width:100% !important;float:left;text-align:right;}	
	.available_withdrawal{width:100% !important;float:left;}
	.how_it_works_btn{width:100%;float:left;text-align:right;}
}
@media only screen and (min-width: 768px) and (max-width: 1024px){
	.loader{width:30% !important;}
	#copyright p span{display:block;}
	.inner_funds_first{width:100% !important; margin:5px 0 !important;}
	.inner_funds_second{width:100% !important; margin:5px 0 !important;}
	.inner_funds_third{width:100% !important; margin:5px 0 !important;}
	.credit_div{width:100% !important; float:left;}
	.funds_btn{width:100% !important;float:left;text-align:right;}	
	.available_withdrawal{width:100% !important;float:left;}
	.how_it_works_btn{width:100%;float:left;text-align:right;}
}
@media only screen and (min-width: 900px) and (max-width: 1250px){
	#copyright p {padding:10px !important; margin:15px 0; font-size:10px !important;}
}

#content-container .box .intern-thumbnail{height:100px;}
::-webkit-scrollbar {display: none;}
.category_item {overflow: auto; height: 400px;}
ul#menu-landing-footer a {
    color: #F5F5F5 !important;
}
#copyright p {padding:10px !important; margin:10px 0; font-size:12px;}
div.mce-widget.mce-btn[aria-label=Edit] {
    display: none;
}
div.fnl_submission_parent label{margin-left:10px;}
input.btn.button-danger, button.btn.button-danger{background-color:#FF6347 !important;}
input.btn.button-success, button.btn.button-success{background-color:#28A745 !important;}
.promo_content {padding: 10px;font-weight: normal;}


.tbl_mls td{width:50%;padding:0 5px 15px 5px;}
.tbl_mls td input{margin:0;}
.tbl_mls label[for=mls_subscription_confirmation_email], .tbl_mls label[for=mls_final_welcome_email], .tbl_mls label[for=mls_unsubscribe_notification]{font-weight:600;}
.tbl_mls input[type=checkbox]{margin-left:15px;}
.tbl_mls p.desc{font-size: 13px;color: #888;}
table.tbl_mls span.req {color: #FF6347;}
.mls_error{display:none;color:#FF6347;}
input.mls_input_error, select.mls_input_error {
    border: 2px solid #FF6347 !important;
}
select.blank_field, input.blank_field {
    border: 2px solid #FF6347 !important;
}
.swal2-container{z-index:99999 !important;}
.first_half{width: 50%;float: left;padding-right: 2px;}
.second_half{width: 50%;float: left;padding-left: 2px;}
@keyframes notification {
  from {color: #b7b9c4;}
  to {color: #ffa500;}
}
#nav-notification-trigger.active .fa.fa-bell{
	animation: zoominoutsinglefeatured 1s infinite ;
}
/*#nav-notification-trigger.active .fa.fa-bell{
	animation-name: notification;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}*/
@keyframes zoominoutsinglefeatured {
    0% {
        transform: scale(1,1);
		color: #b7b9c4;
    }
    50% {
        transform: scale(1.2,1.2);
		color: #ffa500;
    }
    100% {
        transform: scale(1,1);
		color: #b7b9c4;
    }
}
i.mce-i-link, input.ed_button[value=link], div.mce-btn[aria-label="Insert/edit link (Ctrl+K)"]{
	display:none;
}

.vc_tta-tab{padding:0 5px !important;}
a[href="#1556517484116-1862e625-aa2a"] span{visibility:hidden;}
a[href="#1556517484144-a37b4a40-155f"] span{visibility:hidden;}
a[href="#1556517548128-5d4d65d5-9feb"] span{visibility:hidden;}
a[href="#1556517563494-f54420bd-f3ed"] span{visibility:hidden;}
a[href="#1614326516668-77e8a784-f0e1"] span{visibility:hidden;}
a[href="#1617198049607-334b8092-02a8"] span{visibility:hidden;}
a[href="#1617346146235-ca6a162f-b8b0"] span{visibility:hidden;}
a[href="#1618212667082-6bf8f1f5-1290"] span{visibility:hidden;}

a[href="#1556517484116-1862e625-aa2a"] {
	 background-image: url("https://funnelmates.com/wp-content/uploads/2021/03/aweber.png") !important;
	 background-size: contain;
	 background-position: center;
	 background-repeat: no-repeat !important;
	 width:100px;
}

a[href="#1556517484144-a37b4a40-155f"] {
	 background-image: url("https://funnelmates.com/wp-content/uploads/2021/03/getresponse.png") !important;
	 background-size: contain;
	 background-position: center;
	 background-repeat: no-repeat !important;
	 width:100px;
}

a[href="#1556517548128-5d4d65d5-9feb"] {
	 background-image: url("https://funnelmates.com/wp-content/uploads/2021/03/mailchimp.png") !important;
	 background-size: contain;
	 background-position: center;
	 background-repeat: no-repeat !important;
	 width:100px;
}

a[href="#1556517563494-f54420bd-f3ed"] {
	 background-image: url("https://funnelmates.com/wp-content/uploads/2021/03/sendlane.png") !important;
	 background-size: contain;
	 background-position: center;
	 background-repeat: no-repeat !important;
	 width:100px;
}

a[href="#1614326516668-77e8a784-f0e1"] {
	 background-image: url("https://funnelmates.com/wp-content/uploads/2021/03/zapier.png") !important;
	 background-size: contain;
	 background-position: center;
	 background-repeat: no-repeat !important;
	 width:100px;
}

a[href="#1617198049607-334b8092-02a8"] {
	 background-image: url("https://funnelmates.com/wp-content/uploads/2021/05/convertkit.png") !important;
	 background-size: contain;
	 background-position: center;
	 background-repeat: no-repeat !important;
	 width:100px;
}

a[href="#1617346146235-ca6a162f-b8b0"] {
	 background-image: url("https://funnelmates.com/wp-content/uploads/2021/05/drip.png") !important;
	 background-size: contain;
	 background-position: center;
	 background-repeat: no-repeat !important;
	 width:100px;
}

a[href="#1618212667082-6bf8f1f5-1290"] {
	 background-image: url("https://funnelmates.com/wp-content/uploads/2021/05/mailerlite.png") !important;
	 background-size: contain;
	 background-position: center;
	 background-repeat: no-repeat !important;
	 width:100px;
}

.ar_tabs li.vc_tta-tab a{filter: grayscale(1);}
.ar_tabs li.vc_tta-tab.vc_active a{filter: grayscale(0);}
.external_column a{color: #FF0000;}
#coupon_container{
    border: 1px solid;
    background: #425f94;
    color: white;
	display:none;
}
#coupon_container td{padding:15px;}
tbody#coupon_container.active {
    display: table-row-group;
}
table.table.tbl_coupon{margin-bottom: 0;width: 50%;margin: 0 auto;display:none;}
table.table.tbl_coupon td{padding:0;border-top:none;}
table.table.tbl_coupon td input{padding: 0;margin: 0;height: 30px;}
table.table.tbl_coupon td button{height: 29px;width: 100%;font-size: 12px;font-weight: 600;}
p#coupon_code_p.active {padding: 15px;border-radius: 2px;text-align: left !important;color: #004085;background-color: #cce5ff;border-color: #b8daff;border: 1px solid;}
p#coupon_code_p span{float: right;color: red;text-decoration: underline;cursor: pointer;}